<div>
  <h1>Tus compras</h1>
  <hr class="border border-danger opacity-100" />
  <table class="table" *ngIf="compras">
    <thead class="border-danger">
      <tr>
        <th>Núm. Pedido</th>
        <th>ID Cubo</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{ compra.idPedido }}</td>
        <td>{{ compra.idCubo }}</td>
        <td>{{ compra.fechaPedido }}</td>
      </tr>
    </tbody>
  </table>
  <img
    *ngIf="!compras"
    class="mx-auto d-block"
    src="../../../assets/images/loading.gif"
  />
  <div class="row mb-3">
    <div class="col-6">
      <a class="btn btn-primary w-100 mt-3" [routerLink]="['/perfil']">
        Volver al perfil
      </a>
    </div>
    <div class="col-6">
      <a class="btn btn-primary w-100 mt-3" [routerLink]="['/pedido']">
        Realizar pedido
      </a>
    </div>
  </div>
</div>
